{% extends "proyectoWebApp/base.html" %} {% load static %} {% block content %}
<div class="navbar navbar-expand-lg navbar-dark bg-dark py-1 px-4 mb-1 w-100">
    <div class="navbar">
      <h1 class="site-heading text-center text-white d-none d-lg-block" style="margin: 20px;">
          Derivadas
      </h1>
      <table class="table-bordered">
          <tr>
            <th style="color: white;">Metodo</th>
            <th style="color: white;">Fórmula</th>
            <th style="color: white;">Solucion problemas por método</th>
          </tr>
          <tr>
            <td style="color: white;">1</td>
            <td style="color: white;"><img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{%static 'proyectoWebApp/img/dospuntos.png' %}" alt="">
            </td>
            <td style="color: white;"><a href="{% url 'DosPuntos' %}">Formula dos puntos</a></td>
          </tr>
          <tr>
            <td style="color: white;">2</td>
            <td style="color: white;"><img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{%static 'proyectoWebApp/img/trespuntos.png' %}" alt="">
            </td>
            <td style="color: white;"><a href="{% url 'TresPuntos' %}">Formula tres puntos</a></td>
          </tr>
          <tr>
            <td style="color: white;">2</td>
            <td style="color: white;"><img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{%static 'proyectoWebApp/img/cincopuntos.png' %}" alt="">
            </td>
            <td style="color: white;"><a href="{% url 'CincoPuntos' %}">Formula cinco puntos</a></td>
          </tr>
        </table>
    </div>
  </div>
{% endblock %}