{% extends "proyectoWebApp/base.html" %} {% load static %} {% block content %}
<div class="navbar navbar-expand-lg navbar-dark bg-dark py-1 px-4 mb-1 w-100">
  <div class="navbar">
    <h1 class="site-heading text-center text-white d-none d-lg-block">
        Ecuaciones líneales
    </h1>
    <table class="table-bordered">
        <tr>
          <th style="color: white;">Metodo</th>
          <th style="color: white;">Descripción</th>
          <th style="color: white;">Graficas Ejemplo</th>
          <th style="color: white;">Solucion problemas por metodo</th>
        </tr>
        <tr>
          <td style="color: white;">1</td>
          <td style="color: white;"> Método de bisección, algoritmo de búsqueda de raíces que trabaja
                dividiendo el intervalo a la mitad y seleccionando el subintervalo que tiene la raíz. </td>
          <td style="color: white;"><img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{%static 'proyectoWebApp/img/biseccion.png' %}" alt="">
          </td>
          <td style="color: white;"><a href="{% url 'Biseccion' %}">Método Bisección </a></td>
        </tr>
        <tr>
            <td style="color: white;">2</td>
            <td style="color: white;"> Es un método iterativo de resolución numérica de ecuaciones no lineales. 
                El método combina el método de bisección y el método de la secante. </td>
            <td style="color: white;"><img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{%static 'proyectoWebApp/img/reglaFalsa.png' %}" alt=""></td>
            <td style="color: white;"><a href="{% url 'ReglaFalsa' %}">Método ReglaFalsa </a></td>
          </tr>
          <tr>
            <td style="color: white;">3</td>
            <td style="color: white;"> Algoritmo para encontrar aproximaciones de los ceros o raíces de una función real.
                También puede ser usado para encontrar el máximo o mínimo de una función, encontrando los ceros de su primera derivada. </td>
            <td style="color: white;"><img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{%static 'proyectoWebApp/img/newton.png' %}" alt=""></td>
            <td style="color: white;"><a href="{% url 'Newton' %}">Método Newton </a></td>
          </tr>
          <tr>
            <td style="color: white;">4</td>
            <td style="color: white;"> Es un método para encontrar los ceros de una función de forma iterativa. </td>
            <td style="color: white;"><img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{%static 'proyectoWebApp/img/secante.png' %}" alt=""></td>
            <td style="color: white;"><a href="{% url 'Secante' %}">Método Secante </a></td>
          </tr>
      </table>
  </div>
</div>
{% endblock %}
