{% extends "proyectoWebApp/base.html" %} {% load static %} {% block content %}
<div class="navbar navbar-expand-lg navbar-dark bg-dark py-1 px-4 mb-1 w-100">
  <div class="navbar">
    <h1 class="site-heading text-center text-white d-none d-lg-block">
        Integrales
    </h1>
    <table class="table-bordered">
        <tr>
          <th style="color: white;">Metodo</th>
          <th style="color: white;">Descripción</th>
          <th style="color: white;">Graficas Ejemplo</th>
          <th style="color: white;">Solucion problemas por metodo</th>
        </tr>
        <tr>
          <td style="color: white;">1</td>
          <td style="color: white;"> Método de los Trapecios El Método de los Trapecios sustituye la curva mediante una 
            poligonal inscripta, lo que nos lleva a aproximar el área bajo la curva mediante un conjunto de 
            trapecios. Esta es una construcción dinámica. Deslizando los puntos y sobre el eje de abscisas
            variamos el intervalo de integración.      
            <td style="color: white;"><img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{%static 'proyectoWebApp/img/reglatrapecio.png' %}" alt="">
          </td>
          <td style="color: white;"><a href="{% url 'ReglaTrapecio' %}">Regla del trapecio </a></td>
        </tr>
        <tr>
            <td style="color: white;">2</td>
            <td style="color: white;"> Método de integración para calcular integrales definidas donde se 
              conectan grupos sucesivos de tres puntos sobre la curva mediante parábolas de segundo grado.
              A las fórmulas que resultan de calcular la integral bajo estos polinomios se les llama Reglas
              de Simpson. </td>
            <td style="color: white;"><img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{%static 'proyectoWebApp/img/reglasimpson.png' %}" alt=""></td>
            <td style="color: white;"><a href="{% url 'ReglaSimpson' %}">Regla de Simpson 1/3 </a></td>
          </tr>
      </table>
  </div>
</div>
{% endblock %}
