{% extends "proyectoWebApp/base.html" %} {% load static %} {% block content %}
<style>
  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: auto;
    background-color: #e9e2e2;
  }

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #263c4e;
    color: white;
  
  }
  .imagen {
    padding: 10px;
    width: 500px;
    height: 500px;
    display: block;
    margin: auto;
    
  }
</style>
<div class="navbar navbar-expand-lg navbar-dark bg-dark py-1 px-4 mb-1 w-100"></div>
<div class="container">
  <div class="row justify-content-center">
   
    <div class="col-md-6">
      <h4 class="text-center text-light">Regla falsa</h4>
      <form action="{% url 'ResultadoReglaFalsa' %}" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col">
            <label class="text-light">Ecuación</label>
            <input type="text" name='funcion' class="form-control" placeholder="Ecuación en formato Python" required>
            <label class="text-light">Límite a</label>
            <input type="text" id="a" name='a' class="form-control" placeholder="Límite a" required>
          </div>
          <div class="col">
            <label class="text-light">Tolerancia</label>
            <input type="text" name='tolerancia' class="form-control" placeholder="Tolerancia" required>
            <label class="text-light">Límite b</label>
            <input type="text" id="b" name='b' class="form-control" placeholder="Límite b" required>
            <br>

          </div>
        </div>
        <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary" onclick="validarIntervalos()">Calcular</button>
      </div>
    </div>
    </form>

    {% if tablaRegla|length == 0 %}
    {% else %}
    <div id='mi-tabla'>
      {{ tablaRegla|safe }}

      {% if tabla != "" %}
      <img class='imagen' src="{% url 'GraficaReglaFalsa' %}">
      {% endif %}
    </div>
    
   
{% endif %}

  </div>
</div>
</div>
<script>
  function validarIntervalos(){
    try{
     let a = Number(document.getElementById("a").value);
     let b = Number(document.getElementById("b").value);
     if(a>b){
   
      throw "El intervalo a no debe ser mayor al intervalo b";
     }
    }catch(error){
        alert("Error: " +error)
    }
    }
 
</script>
{% endblock %}
