{% extends "proyectoWebApp/base.html" %} {% load static %} {% block content %}
<style>
  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: auto;
    background-color: #e9e2e2;
  }

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #263c4e;
    color: white;
  
  }
  .imagen {
    padding: 10px;
    width: 500px;
    height: 500px;
    display: block;
    margin: auto;
    
  }
</style>
<div class="navbar navbar-expand-lg navbar-dark bg-dark py-1 px-4 mb-1 w-100"></div>
<div class="container">
  <div class="row justify-content-center">
   
    <div class="col-md-6">
      <h4 class="text-center text-light">Secante</h4>
      <form action="{% url 'ResultadoSecante' %}" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col">
            <label class="text-light">Ecuación</label>
            <input type="text" name='funcion' class="form-control" placeholder="Ecuación en formato Python" required>
            <label class="text-light">Valor 1</label>
            <input type="text" name='uno' class="form-control" placeholder="Límite a" required>
          </div>
          <div class="col">
            <label class="text-light">Tolerancia</label>
            <input type="text" name='tolerancia' class="form-control" placeholder="Tolerancia" required>
            <label class="text-light">Valor 2</label>
            <input type="text" name='dos' class="form-control" placeholder="Límite b" required>
            <br>

          </div>
        </div>
        <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Calcular</button>
      </div>
    </div>
    </form>

    {% if tablaSecante|length == 0 %}
    {% else %}
    <div id='mi-tabla'>
      {{ tablaSecante|safe }}

      <img class='imagen' src="{% url 'GraficaSecante' %}">
    </div>
    
   
{% endif %}

  </div>
</div>
</div>
{% endblock %}
